<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles/login.css">
</head>
<body>
    <a href="/"><img class="logo" src="https://cdn-icons-png.flaticon.com/512/3225/3225194.png" width="100px" alt=""></a>
    <div class="login-container">
        <form action="/continues" method="post">
        <h1 class="login-title">Sign up</h1>
        <h5 class="input-lable">Your name</h5>
        <input type="text" name="username" placeholder="First and last name">
        <h5 class="input-lable" >Mobile number or email</h5>
        <input type="text" name="email" placeholder="email">
        <h5 class="input-lable" >Password</h5>
        <input type="password" name="password" placeholder="At least 6 characters">
        <button>Continue</button></form>
        <p class="login-condition">By continuing, you agree to Smart Shop<span>Conditions of Use</span> and <span>Privacy Notice.</span></p>
        <p class="login-help">▸<span>Need help</span></p>
        <hr>
        <h4>Buying for work?</h4>
        <p class="login-business"><span>Shop on Smart Shop Business</span></p>
    </div>
    <div class="login-section-text">
        <hr><p>Have a account?</p><hr>
    </div>
  <form action="/login" method="get"><button class="login-signup-btn">Login with Smart Shop account</button></form>
    <footer>
        <div class="footer-links">
            <a href="#"> Conditions of Use </a>
            <a href="#"> Privacy Notice </a>
            <a href="#"> Help </a>
        </div>
        <p class="footer-copyright">
            © 1996-2024, Smart shop.com, Inc. or its affiliates
        </p>
    </footer>

</body></html>